<template>
	<f7-popup>
		<f7-page class="add-category">
			<f7-navbar title="Add Budget" back-link="Back"></f7-navbar>

			<f7-list no-hairlines-md form >
				<f7-list-input label="Budget Plan Name" type="text" placeholder="Name" :value ="planName" @input="planName = $event.target.value" required validate clear-button></f7-list-input>
				<f7-list-input label="Budget Monthly (RM)" type="text" placeholder="Eg:RM1000" @input="budgetMonth = $event.target.value" :value="budgetMonth" required validate clear-button ></f7-list-input>

			</f7-list>

			<f7-block-title style="font-size:15px; font-weight:600;">Plan</f7-block-title>

			<label style="padding-left:2%;">

				<input type="radio" v-model="x" value="one" checked>
				<span style="color:gray;padding-left:10px;">Recommendation Plan</span>
			</label>
			
			<br>
			<br>
			<br>

			<label style="padding-left:2%;">
				<input type="radio" v-model="x" value="two">
				<span style="color:gray;padding-left:10px;">Manual (RM)</span>
			</label>
			
			<div v-show="x === 'one'">

				<f7-list inline-labels no-hairlines-md style="padding-top:15%;">
					<f7-block-title style="font-size:14px;padding-left:4%;font-weight:600;">Recommendation Plan</f7-block-title>

					<f7-list-input
					type="select"
					placeholder="Please choose..." style="margin-left:-13%;" required validate	 @input="typePlan = $event.target.value" 
					>
					<f7-icon icon="demo-list-icon" slot="media"></f7-icon>
					<!-- <option value=""></option> -->
					<option value="50-30-20">50-30-20</option>
					<option value="75-15-10">75-15-10</option>
					<option value="60-10-30">60-10-30</option>
				</f7-list-input>
			</f7-list>
		</div>
		<p>{{typePlan}}</p>
		<div v-show="x === 'two'" style="padding-top:5%;">
			<f7-block-title style="font-size:14px;font-weight:600;">Manual</f7-block-title>
			<f7-list no-hairlines-md>
				<f7-list-input
				outline
				label="Living Expenses (Eg:Utilities,Food)"
				floating-label
				type="number"
				required validate
				clear-button
				@input="livingExpense = $event.target.value" :value="livingExpense"
				>

			</f7-list-input>

			<f7-list-input
			outline
			label="Savings Expenses"
			floating-label
			type="number"
			required validate
			clear-button
			@input="savingExpense = $event.target.value" :value="savingExpense"
			>

		</f7-list-input>

		<f7-list-input
		outline
		label="Others Expenses (Eg:Entertainment)"
		floating-label
		type="number"
		required validate
		clear-button
		@input="otherExpense = $event.target.value" :value="otherExpense"
		>

	</f7-list-input>
</f7-list>
</div>





<f7-block style="padding-top:15%;">
	<f7-button large fill @click="submit();">Save</f7-button>
</f7-block>

</f7-page>
</f7-popup>
</template>
<style type="text/css" lang="scss">
.add-category{

	.profile-picture{
		text-align: center;

	}
}
.list .item-floating-label, .list .item-label{
	font-size:13px;
	font-weight:600;

}
</style>

<script>
	export default {
		data(){
			return{
				x:'one',
				planName:'',
				budgetMonth:'',
				typePlan:'',
				livingExpense:'',
				otherExpense:'',
				savingExpense:'',
			}
		},
		created: function(){
		},
		methods:{
			submit(){
				var $this = this;
				const app = $this.$f7;
				const router = $this.$f7router;

				if($this.category == '' ){
					app.dialog.alert('Category name are required','ERROR')
					return
				}

				if($this.budgetMonth == '' ){
					app.dialog.alert('Budget amount are required','ERROR')
					return
				}

				const options = {
					method: 'post',
					data:{
						namePlan: $this.planName,
						budgetMonth: $this.budgetMonth,
						typePlan: $this.typePlan,
						livingsBudget: $this.livingExpense,
						othersBudget: $this.otherExpense,
						savingsBudget: $this.savingExpense,
					},
					serializer: 'JSON',
					headers: {
						'Authorization': 'Bearer '+ window.localStorage.getItem('token')
						// "Accept": "application/json",
					},
					
				};

				cordova.plugin.http.sendRequest('http://localhost:8000/api/budget', options, 
					function(response) {
						app.dialog.alert(`Budget Added Successfully`, 'Success',()=>{
							// this.$router.go(-1);
						});
					},  function(response) {
						app.dialog.alert(`error`);
					});
			},
		}
	}

</script>