<template>
	<f7-popup>
		<f7-page class="add-category">
			<f7-navbar title="Add Category" back-link="Back"></f7-navbar>


			<f7-list no-hairlines-md form>
				<f7-list-input label="Category" type="text" placeholder="Eg:Food" :value="category" @input="category = $event.target.value" required validate clear-button></f7-list-input>
			</f7-list>

			<f7-block style="padding-top:90%;"> 
				<f7-button large fill @click="submit();">Save</f7-button>
			</f7-block>

		</f7-page>
	</f7-popup>
</template>
<style type="text/css" lang="scss">
.add-category{

	.profile-picture{
		text-align: center;

	}
}
</style>

<script>
	export default {
		data(){
			return{
				category:'',
				// user_id:1,
			}
		},
		created: function(){
		},
		methods:{
			submit(){
				var $this = this;
				const app = $this.$f7;
				const router = $this.$f7router;
				var user_id = this.$f7route.params.id;

				if($this.category == '' ){
					app.dialog.alert('Category Name are required','ERROR')
					return
				}

				const options = {
					method: 'post',
					data:{
						category: $this.category,
						// user_id:1,
					},
					serializer: 'JSON',
					headers: {
						'Authorization': 'Bearer '+ window.localStorage.getItem('token')
						// "Accept": "application/json",
					},
					
				};
				console.log(options.data)
				console.log(options.headers)
				console.log(window.localStorage.getItem('token'))
				cordova.plugin.http.sendRequest('http://localhost:8000/api/category', options, 
					function(response) {
						app.dialog.alert(`Save successed`, 'Success',()=>{
							router.navigate('/expense');
						});
					},  function(response) {
						app.dialog.alert(`error`);
					});
			},
		}
	}

</script>