<template>
	<f7-popup>
		<f7-page class="add-category">
			<f7-navbar title="Add Expense" back-link="Back"></f7-navbar>

			<f7-list inline-labels no-hairlines-md style="margin-left:-13%;">
				<f7-list-input
				label="Category"
				type="select"
			    style="margin-left:-8px;" required validate @input="category = $event.target.value"
				>
					<f7-icon icon="demo-list-icon" slot="media"></f7-icon>
					<option value=""></option>
					<option v-for="(categoryExpense,categoryId) in categories" :key="categoryId" :value="categoryExpense.id">{{categoryExpense.type}}</option>
				</f7-list-input>

				<f7-list-input
				label="Plan"
				type="select"
		        style="margin-left:-8px;" required validate @input="plan = $event.target.value"
				>
					<f7-icon icon="demo-list-icon" slot="media"></f7-icon>
					<option value=""></option>
					<option v-for="(namePlan,planId) in plans" :key="planId" :value="namePlan.id">{{namePlan.namePlan}}</option>

				</f7-list-input>
			</f7-list>

			<f7-list no-hairlines-md form>
				
				<f7-list-input label="Amount(RM)" type="number" :value="expense" @input="expense = $event.target.value" placeholder="10" required validate clear-button></f7-list-input>

				<f7-list-input
				label="Date"
				type="datepicker"
				placeholder="Select date"
				readonly required validate
				:calendar-params="{dateFormat: 'DD, MM dd, yyyy'}" :value="date" @change="date = $event.target.value"
				></f7-list-input>

				<f7-list-input label="Description" type="textarea" placeholder="Eg:Mixed Rice" @input="description = $event.target.value" :value="description" clear-button></f7-list-input>
			</f7-list>

			<f7-block style="padding-top:40%;">
				<f7-button large fill @click="submit();">Save</f7-button>
			</f7-block>

		</f7-page>
	</f7-popup>
</template>
<style type="text/css" lang="scss">
.add-category{

	.profile-picture{
		text-align: center;

	}
}
</style>

<script>
	export default {
		data(){
			return{
				categories:'',
				category:'',
				plan:'',
				plans:'',
				expense:'',
				date:'',
				description:'',

			}
		},
		created: function(){
			var $this = this;
			var shop_id = this.$f7route.params.id;

			const options ={
				method:'get',
				headers:{
					'Authorization':'Bearer '+window.localStorage.getItem('token')
				},
			};

			cordova.plugin.http.sendRequest('http://localhost:8000/api/expense/category', options, function(response) {

				const data = JSON.parse(response.data)
				
				$this.categories = data.data;
				console.log(data.data)
				
				console.log('categories',$this.categories);
				
				for(var x in $this.categories){
					console.log($this.categories[x].type)
				}
				
			}, function(response) {
				console.log(response.error)

			});

			cordova.plugin.http.sendRequest('http://localhost:8000/api/expense/budget', options, function(response) {
				const data = JSON.parse(response.data)
				$this.plans = data.data
				
				for(var x in $this.plan){
					console.log($this.plan[x].namePlan)
				}

			},  function(response) {
				console.log(response.error)
			});
		},
		methods:{
			submit(){
				var $this = this;
				const app = $this.$f7;
				const router = $this.$f7router;

				if($this.category == '' ){
					app.dialog.alert('Category are required','ERROR')
					return
				}

				if($this.plan == '' ){
					app.dialog.alert('Plan are required','ERROR')
					return
				}

				const options = {
					method: 'post',
					data:{
						budget_id: $this.plan,
						category_id: $this.category,
						amount: $this.expense,
						date: $this.date,
						description: $this.description,
					},
					serializer: 'JSON',
					headers: {
						'Authorization': 'Bearer '+ window.localStorage.getItem('token')
						// "Accept": "application/json",
					},
					
				};

				cordova.plugin.http.sendRequest('http://localhost:8000/api/expense', options, 
					function(response) {
						app.dialog.alert(`Expense Added Successfully`, 'Success',()=>{
							router.navigate('/expense');
						});
					},  function(response) {
						app.dialog.alert(`error`);
					});
		
				
			},
		}
	}

</script>