<template>
	<f7-popup>
		<f7-page class="add-category">
			<f7-navbar title="Add Income" back-link="Back"></f7-navbar>


			<f7-list no-hairlines-md form>
				
				<f7-list-input label="Amount(RM)" type="number" :value="income" @input="income = $event.target.value" placeholder="Eg:10" required validate clear-button></f7-list-input>

				<f7-list-input
				label="Date"
				type="datepicker"
				placeholder="Select date"
				readonly required validate
				:calendar-params="{dateFormat: 'DD, MM dd, yyyy'}" :value="date" @change="date = $event.target.value" 
				></f7-list-input>

				<f7-list-input label="Description" type="textarea" placeholder="Eg:Mixed Rice" :value="description" @input="description = $event.target.value"  clear-button></f7-list-input>

			</f7-list>

			<f7-block style="padding-top:55%;">
				<f7-button large fill @click="submit();">Save</f7-button>
			</f7-block>

		</f7-page>
	</f7-popup>
</template>
<style type="text/css" lang="scss">
.add-category{

	.profile-picture{
		text-align: center;

	}
}
</style>

<script>
	export default {
		data(){
			return{
				income:'',
				date:'',
				description:'',
			
			}
		},
		created: function(){
		},
		methods:{
			submit(){
				var $this = this;
				const app = $this.$f7;
				const router = $this.$f7router;

				if($this.income == '' ){
					app.dialog.alert('Amount are required','ERROR')
					return
				}

				if($this.plan == '' ){
					app.dialog.alert('Plan are required','ERROR')
					return
				}

				const options = {
					method: 'post',
					data:{
						amount: $this.income,
						date: $this.date,
						description: $this.description,
						
					},
					serializer: 'JSON',
					headers: {
						'Authorization': 'Bearer '+ window.localStorage.getItem('token')
						// "Accept": "application/json",
					},
					
				};

				cordova.plugin.http.sendRequest('http://localhost:8000/api/income', options, 
					function(response) {
						app.dialog.alert(`Income Added Successfully`, 'Success',()=>{
							router.navigate('/income');
						});
					},  function(response) {
						app.dialog.alert(`error`);
					});
		
				
			},
		}
	}

</script>