<template>
	<f7-page class="setting" sliding  color-theme="orange" >
		<f7-navbar title="Change Password" back-link="Back"></f7-navbar>

			<f7-list no-hairlines-md form>
				
				<f7-list-input label="Current Password" type="text" :value="currentpassword" @input="currentpassword = $event.target.value" required validate clear-button></f7-list-input>

				<f7-list-input label="New Password" type="text" :value="newpassword" @input="newpassword = $event.target.value" required validate clear-button></f7-list-input>

				<f7-list-input label="Re-enter New Password" type="text" :value="confirmpassword" @input="confirmpassword = $event.target.value" required validate clear-button></f7-list-input>
			</f7-list>

			<f7-block style="padding-top:40%;">
				<f7-button large fill @click="edit();">Save Changes</f7-button>
			</f7-block>

	</f7-page>
</template>

<script>
	export default {
		data(){
			return{
				currentpassword:'',
				newpassword:'',
				confirmpassword:'',
			}
		},
		created:function(){

		},
		methods:{
			edit(){
				var $this = this;
				const app = $this.$f7;
				const router = $this.$f7router;

				if($this.currentpassword == '' ){
					app.dialog.alert('Current Password Field are required','ERROR')
					return
				}
				if($this.newpassword == ''){
					app.dialog.alert('New Password Field are required','ERROR')
					return
				}
				if($this.confirmpassword == ''){
					app.dialog.alert('Confirm Password Field are required','ERROR')
					return
				}

				if($this.newpassword != $this.confirmpassword){
					app.dialog.alert('New Password And Confirm Password Must Be Matched','ERROR')
					return
				}
				const options = {
					method: 'post',
					data:{
						old_password : $this.currentpassword,
						new_password : $this.newpassword,
						confirm_password : $this.confirmpassword,
					},
					serializer: 'JSON',
					headers: {
						'Authorization': 'Bearer '+ window.localStorage.getItem('token')
						// "Accept": "application/json",
					},
					
				};
				// if($this.category &&$this.plan&&$this.amount&&$this.date &&$this.description ){
				cordova.plugin.http.sendRequest('http://localhost:8000/api/setting/changePassword', options, 
					function(response) {
						app.dialog.alert(`Password Change`, 'Success',()=>{
							router.back();
						});
					},  function(response) {
						app.dialog.alert(`error`);
					});
				// }
				
			},
			
		}
	}
</script>