<template>
	<f7-page class="setting" sliding  color-theme="orange" >
		<f7-navbar title="Change Username" back-link="Back"></f7-navbar>

			<f7-list no-hairlines-md form>
				
				<f7-list-input label="Username" type="text" :placeholder="user.name" :value="username" @input="username = $event.target.value" required validate clear-button></f7-list-input>

			</f7-list>

			<f7-block style="padding-top:40%;">
				<f7-button large fill @click="edit();">Save Changes</f7-button>
			</f7-block>

	</f7-page>
</template>

<script>
	export default {
		data(){
			return{
				username:'',
				user:'',
			}
		},
		created:function(){
			var $this = this;
			const app = $this.$f7;
			const router = $this.$f7router;


			const options ={
				method:'get',
				headers:{
					'Authorization':'Bearer '+window.localStorage.getItem('token')
				},
			};

			cordova.plugin.http.sendRequest('http://localhost:8000/api/user', options, function(response) {

				const data = JSON.parse(response.data)
				console.log('qwe',data)
				$this.user = data.data;
				// $this.categoriess.filter($this.categories => {
				// 	return $this.categories.id === foundId
				// })
				console.log('NANI',data.data)
				console.log('categories',$this.user);
				// console.log('catgeoriess',$this.categoriess)

				
			}, function(response) {
				console.log(response.error)

			});
		},
		methods:{
			edit(){
				var $this = this;
				const app = $this.$f7;
				const router = $this.$f7router;

				if($this.username == '' ){
					app.dialog.alert('Username are required','ERROR')
					return
				}

				const options = {
					method: 'post',
					data:{
						new_name: $this.username,
					},
					serializer: 'JSON',
					headers: {
						'Authorization': 'Bearer '+ window.localStorage.getItem('token')
						// "Accept": "application/json",
					},
					
				};
				// if($this.category &&$this.plan&&$this.amount&&$this.date &&$this.description ){
				cordova.plugin.http.sendRequest('http://localhost:8000/api/setting/changeUsername', options, 
					function(response) {
						app.dialog.alert(`Username Change`, 'Success',()=>{
							router.back();
						});
					},  function(response) {
						app.dialog.alert(`error`);
					});
				// }
				
			},
			
		}
	}
</script>