<template>
  <div class="card">
    <div class="card-body" style="padding-bottom:5%;line-height:35px;">
      <span style="font-size:15px;font-weight:500;padding-left:10px;padding-top:10px;">Monthly Report
         
         <f7-button style="float:right;margin-top:0%;"  sheet-open=".demo-sheet-push"> <f7-icon f7="smallcircle_fill_circle"></f7-icon></f7-button>
         <!-- <f7-button fill sheet-open=".demo-sheet-push" >Sheet Push</f7-button> -->
              <f7-sheet class="demo-sheet-push" push>
                <f7-toolbar>
                  <div class="left"></div>

                  <div class="right">
                    <f7-link sheet-close>Close</f7-link>
                  </div>

                </f7-toolbar>

                <f7-page-content>
                  <f7-block>
                    <f7-list-input
                    type="datepicker"
                    placeholder="Select year ..."
                    readonly style="list-style-type: none;"
                    :calendar-params="{openIn: 'customModal', header: true, footer: true, dateFormat: ' yyyy'}"
                    ></f7-list-input>
                  </f7-block>
                </f7-page-content>

              </f7-sheet>
      </span>
     
       
     
    </div>

    <div class="card-img-bottom" style="background-color:#f5f5f5;">
      <canvas id="fooCanvas" count="1" />

      <chartjs-bar
        v-for="(item, index) in types"
        :key="index"
        :backgroundcolor="item.bgColor"
        :beginzero="beginZero"
        :bind="true"
        :bordercolor="item.borderColor"
        :data="item.data"
        :datalabel="item.dataLabel"
        :labels="labels"
        target="fooCanvas"
      />
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      beginZero: true,
      labels: ["Jan", "Feb", "March", "April", "May", "June", "July","August","Sept","Oct","Nov","Dec"],
      types: [
        {
          bgColor: "#43CDF2",
          borderColor: "0c0306",
          data: [1, 3, 5, 7, 2, 4, 6,1,2,3,2,1],
          dataLabel: "Expenses Monthly"
        },
     
      ]
    };
  },

};
</script>