<template>
	<f7-page class="setting" sliding  color-theme="orange" theme-dark>
		<f7-navbar title="Edit Income" back-link="Back"></f7-navbar>

			<f7-list no-hairlines-md form>
				
				<f7-list-input label="Amount(RM)" type="number" :value="inc.amount " @input="inc.amount = $event.target.value" placeholder="Eg:10" required validate clear-button></f7-list-input>

				<f7-list-input
				label="Date"
				type="datepicker"
				:placeholder="inc.date"
				readonly required validate
				:calendar-params="{dateFormat: 'DD, MM dd, yyyy'}" :value="date" @change="date = $event.target.value"
				></f7-list-input>

				<f7-list-input label="Description" type="textarea" placeholder="Eg:Mixed Rice" :value="inc.description" @input="inc.description = $event.target.value"  clear-button></f7-list-input>

			</f7-list>

			<f7-block style="padding-top:40%;">
				<f7-button large fill @click="edit();">Save Changes</f7-button>
			</f7-block>

	</f7-page>
</template>

<script>
	export default {
		data(){
			return{
				inc:'',
			}
		},
		created:function(){
			var $this = this;
			var income_id = this.$f7route.params.income_id;

			const options ={
				method:'get',
				headers:{
					'Authorization':'Bearer '+window.localStorage.getItem('token')
				},
			};

			cordova.plugin.http.sendRequest('http://localhost:8000/api/income/'+income_id, options, function(response) {

				const data = JSON.parse(response.data)
				
				$this.inc = data.data;
				console.log('hereEXP:',data.data)
				
				console.log('exp',$this.inc);
				
				// for(var x in $this.categories){
				// 	console.log($this.categories[x].type)
				// }
				
			}, function(response) {
				console.log(response.error)

			});

		},
		methods:{

			edit(){
				var $this = this;
				const app = $this.$f7;
				const router = $this.$f7router;
				var income_id = this.$f7route.params.income_id;

				const options ={
					method:'put',
					
					data:{
						
						amount: $this.inc.amount,
						date: $this.inc.date,
						description: $this.inc.description,
					
					},
					serializer:'JSON',
					headers:{
						'Authorization':'Bearer '+window.localStorage.getItem('token')
					},
				};

				console.log(options.headers)
				cordova.plugin.http.sendRequest('http://localhost:8000/api/income/'+income_id, options, 
					function(response) {
						console.log('hi');
						const data = JSON.parse(response.data)
							app.dialog.alert('Update Success','Success',()=>{
								router.navigate('/home');
								// router.back({reloadCurrent:true,ignoreCache:true,});
								// router.navigate('/expense',{reloadCurrent:true,ignoreCache:true,});
							// router.refreshPage(({ url: 'index.html', ignoreCache: true });							
						});
						
					},function(response) {
						console.log('amacb');
						app.dialog.alert('error');
					});
			}
		}
	}
</script>