<template>
  <f7-page bg-color="black" color-theme="orange" theme-dark>
    <f7-navbar>
      
      <f7-nav-left>
        <f7-link class="panel-open" open-panel="left" icon="fas fa-bars"></f7-link>
      </f7-nav-left>
      <div class="title">Dashboard</div>

    </f7-navbar>
  <!--   <f7-list-item :link="'/login'">
      <p>1</p>
    </f7-list-item> -->
    <div>
      <f7-block-title v-if="!selectPlan" style="font-weight:700;font-size:15px;">Your Budget [ Plan A ]</f7-block-title>
      <f7-block-title v-else style="font-weight:700;font-size:15px;">Your Budget [ {{selectPlan}} ]</f7-block-title>
    </div>

    <f7-button style="float:right;margin-top:-12%;"  sheet-open=".demo-sheet-pushs"> <f7-icon f7="smallcircle_fill_circle"></f7-icon></f7-button>

    <f7-sheet class="demo-sheet-pushs" push>
      <f7-toolbar>
        <div class="left"></div>

        <div class="right">
          <f7-link sheet-close>Close</f7-link>
        </div>

      </f7-toolbar>

      <f7-page-content style="font-size:25px;margin-top:-45px;">
        <f7-block>
          <p style="font-size:20px;padding-top:20px;margin-bottom:-40px;">Plan</p>
          <f7-list-input
          type="select"
          required validate @input="plan = $event.target.value"
          readonly style="list-style-type: none;padding-top:3%;"
        >

          <f7-icon icon="demo-list-icon" slot="media"></f7-icon>
          <option value=""></option>
          <option v-for="(namePlan,planId) in plans" :key="planId" :value="namePlan.id">{{namePlan.namePlan}}</option>


          ></f7-list-input>
        </f7-block>
        
        <f7-block style="width:60%;position:fixed;margin-left:22%;">
          <f7-button large fill @click="submit();">Search</f7-button>
        </f7-block>

      </f7-page-content>

    </f7-sheet>

          <f7-gauge
          type="circle"
          :size="200"
          :border-width="10"
          :value="total_expenseHere/budgetMonthHere"
          :value-text="'RM'+total_expenseHere"
          value-text-color="#2196f3"
          border-color="#2196f3"
          :label-text="'of RM '+budgetMonthHere+' budget'"
          label-text-color="gray"
          :value-font-size="25"
          :label-font-weight="600"
          :label-font-size="12"
          style="margin-left:23%;padding-top:10%;"
          ></f7-gauge>
    

    <!-- <chartjs-doughnut v-bind:labels="labels" v-bind:data="data"  v-bind:option="option">
        
    </chartjs-doughnut> -->

    <chartjs-doughnut v-bind:labels="labels2" v-bind:data="data2" v-bind:option="option2" style="padding-top:10%;">
        
    </chartjs-doughnut>


    <f7-block-title style="font-weight:700;font-size:15px;padding-top:20%;">Overall Report</f7-block-title>
        <div class="card data-table data-table-collapsible data-table-init">
          <div class="card-header" style="background-color:gray;">
            <div class="data-table-title">Summary Report</div>
          </div>
          <div class="card-content">
            <table>
              <thead>
                <tr>
                  <th class="label-cell">Total Expense (RM)</th>
                  <th class="label-cell">Total Income (RM)</th>
                  <th class="label-cell">Gap (RM)</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="numeric-cell">{{summary.expense}}</td>
                  <td class="numeric-cell">{{summary.income}}</td>
                  <td class="numeric-cell">{{summary.difference}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!-- <f7-block-title style="font-weight:700;font-size:15px;padding-top:20%;">Bar Chart</f7-block-title> -->
        <!-- <ChartBar /> -->
        <br>
        <br>
        <!-- <ChartBar2 /> -->
        <br>
        <br>
        <f7-fab position="right-bottom" slot="fixed">
          <f7-icon icon="fas fa-bars fa-fw"></f7-icon>
          <f7-icon ios="f7:close" aurora="f7:close" md="material:close"></f7-icon>
          <f7-fab-buttons position="top">
            
            <f7-fab-button fill :href="'/categories/popup'" label="Category">
              <f7-icon ios="f7:add" aurora="f7:add" md="material:add"></f7-icon>
            </f7-fab-button>

            <f7-fab-button fill :href="'/budgets/popup'" label="Budget">
              <f7-icon ios="f7:add" aurora="f7:add" md="material:add"></f7-icon>
            </f7-fab-button>

            <f7-fab-button fill :href="'/expenses/popup'" label="Expense">
              <f7-icon ios="f7:add" aurora="f7:add" md="material:add"></f7-icon>
            </f7-fab-button>

            <f7-fab-button fill :href="'/incomes/popup'" label="Income">
              <f7-icon ios="f7:add" aurora="f7:add" md="material:add"></f7-icon>
            </f7-fab-button>
          </f7-fab-buttons>
        </f7-fab>
  </f7-page>

</template>

<style type="text/css" lang="scss" scoped>


</style>
 <!--  import ChartBar from "./chart-bar";
  import ChartBar2 from "./chart-bars"; -->
<script>

  export default {
    // components: {
    //     ChartBar,
    //     ChartBar2,
    //   },

    data() {
      return {
        summary:'',
        plan:'',
        plans:'',
        expenses:'',
        budgets:'',
        alldata:'',
        here:'',
        remain:'',
        total:'',
        budgetMonthHere:'',
        total_expenseHere:'',
        selectPlan:'',

        remainLivings:'',
        remainOthers:'',
        remainSavings:'',
        budgetLivings:'',
        budgetOthers:'',
        budgetSavings:'',
        expenseLivings:'',
        expenseOthers:'',
        expenseSavings:'',

        labels:["Usage","Remaining"],
        data:[],
        // datasets:[
        // {
        //   backgroundColor:["blue","green",]
        // }
        // ],
        option:{
          title:{
            display:true,
            position:"bottom",
            text:"Your Budget"
          }
        },

        
        labels2:["Livings","Others","Savings"],
        data2:[],
        // datasets2:[
        // {
        //   backgroundColor:["#F7464A","#46BFBD", "#FDB45C"]
        // }
        // ],
        option2:{
          title:{
            display:true,
            position:"bottom",
            text:"Budget Left Each Category"
          }
        },
      }
    },

    created: function(){
      var $this = this;
    
      const options ={
        method:'get',
        headers:{
          'Authorization':'Bearer '+window.localStorage.getItem('token')
        },
      };

      cordova.plugin.http.sendRequest('http://localhost:8000/api/expense/budget', options, function(response) {
        const data = JSON.parse(response.data)
        $this.plans = data.data
        console.log('123',$this.plans)
        for(var x in $this.plan){
          console.log('asd',$this.plan[x].namePlan)
        }

      },function(response) {
        console.log(response.error)
      });

        cordova.plugin.http.sendRequest('http://localhost:8000/api/totalexpense', options, function(response) {
        const data = JSON.parse(response.data)
        $this.summary = data;
        
        

      },function(response) {
        console.log(response.error)
      });

      // ----------------------------
      cordova.plugin.http.sendRequest('http://localhost:8000/api/budget', options, function(response) {
          const data = JSON.parse(response.data)
          // const array = []
          
          console.log('HEALTHY ALL2020',data)
          $this.alldata = data
          $this.budgets = data.budgetPlan
          $this.expenses = data.expense
          $this.budgetLivings = data.budgetLivings
          $this.budgetOthers = data.budgetOthers
          $this.budgetSavings = data.budget20Savings
          $this.expenseLivings = data.expenseLivings
          $this.expenseOthers = data.expenseOthers
          $this.expenseSavings = data.expenseSavings
        
          var total = 0
          for(var x in $this.expenses){
            total += parseInt($this.expenses[x].amount)
            
          }
          $this.total = total
          // --------------------------------------------------------------
          $this.total_expenseHere = total
          // --------------------------------------------------------------
          console.log($this.total)

          $this.here = $this.budgets.budgetMonth
          // -----------------------------------------------------------
          $this.budgetMonthHere = $this.budgets.budgetMonth
          $this.budgetMonthHere = Math.trunc($this.budgetMonthHere)
          // -----------------------------------------------------------

          $this.remain = parseInt($this.here - $this.total)
          console.log('hashdahsd',$this.remain)
          
          $this.data.push($this.total)
          $this.data.push($this.remain)

          console.log('Budgets:',$this.here)
          console.log('Expenses:',$this.expenses)
          console.log('All Data:',$this.alldata)

          $this.remainLivings =parseInt($this.budgetLivings - $this.expenseLivings)
          $this.remainOthers = parseInt($this.budgetOthers - $this.expenseOthers)
          $this.remainSavings = parseInt($this.budgetSavings - $this.expenseSavings)

          $this.data2.push($this.remainLivings)
          $this.data2.push($this.remainOthers)
          $this.data2.push($this.remainSavings)
          console.log($this.data2)
      },function(response) {
        console.log(response.error)
      });
  
       // this.renderChart({
       //      labels: this.labels,
       //      datasets: this.datasets
       //  })
    },
    // async mounted(){
    //   var $this = this;
    //   await $this.submit();
    // },
    // watch:{
    //   data:function(){
    //      var $this = this;
    //      $this.submit();
    //   }
    // },
    methods: {
        submit(){
             var $this = this;
             const app = $this.$f7;
             const router = $this.$f7router;
           
             const options = {
              method: 'get',
              serializer: 'JSON',
              headers: {
                'Authorization': 'Bearer '+ window.localStorage.getItem('token')

              },

            };

            cordova.plugin.http.sendRequest('http://localhost:8000/api/budget?budget='+$this.plan, options, 
              function(response) {
                const data = JSON.parse(response.data)
                for(var x in $this.plans){
                  if($this.plans[x].id == $this.plan){
                   $this.selectPlan = $this.plans[x].namePlan
                  }
                }
                console.log('Select Plan',$this.selectPlan)
                console.log('HEALTHY ALL2020',data)
                $this.alldata = data
                $this.budgets = data.budgetPlan
                $this.expenses = data.expense
                $this.budgetLivings = data.budgetLivings
                $this.budgetOthers = data.budgetOthers
                $this.budgetSavings = data.budget20Savings
                $this.expenseLivings = data.expenseLivings
                $this.expenseOthers = data.expenseOthers
                $this.expenseSavings = data.expenseSavings
                // --------------------------------------------------------
                // For Gauge Framework 7 value

                $this.budgetMonthHere = data.budgetPlan.budgetMonth
                $this.expenses = data.expense
                var total_expenses = 0
                for(var x in $this.expenses){
                  total_expenses += parseInt($this.expenses[x].amount)
                }
                $this.total_expenseHere = total_expenses

                // --------------------------------------------------------
                var total = 0
                for(var x in $this.expenses){
                  total += parseInt($this.expenses[x].amount)

                }
                $this.total = total
                console.log($this.total)

                $this.here = $this.budgets.budgetMonth
                $this.remain = parseInt($this.here - $this.total)
                console.log('hashdahsd',$this.remain)
                console.log('before',$this.data)
                $this.data = [];
                console.log('after',$this.data)
                $this.data.push($this.total)
                $this.data.push($this.remain)
                // console.log('push',$this.data)
                // console.log('Budgets:',$this.here)
                // console.log('Expenses:',$this.expenses)
                // console.log('All Data:',$this.alldata)

                // $this.remainLivings =parseInt($this.budgetLivings - $this.expenseLivings)
                // $this.remainOthers = parseInt($this.budgetOthers - $this.expenseOthers)
                // $this.remainSavings = parseInt($this.budgetSavings - $this.expenseSavings)

                // $this.data2.push($this.remainLivings)
                // $this.data2.push($this.remainOthers)
                // $this.data2.push($this.remainSavings)
                // console.log($this.data2)
                // router.navigate(router.currentRoute.url, {
                //   reloadCurrent: true,
                //   ignoreCache: true,
                // });
              },function(response) {
                app.dialog.alert(`error`);
              });

          },
        },
};

</script>
      
