<template>
  <f7-page>
    <div style="background-color:gray">
    <f7-block style="margin-top:0px;">
      <div v-if="!user.image" style="padding-top:30px;">
        <img src="/static/default.jpg" style="height:64px;width:64px;border-top-left-radius:30px;border-top-right-radius:30px;border-bottom-left-radius:30px;border-bottom-right-radius:30px;margin:auto;display:block;">
      </div>
      <div v-else style="padding-top:30px;">
          <img :src="'http://localhost:8000/uploads/avatars/'+user.image" style="height:64px;width:64px;border-top-left-radius:30px;border-top-right-radius:30px;border-bottom-left-radius:30px;border-bottom-right-radius:30px;margin:auto;display:block;" />
      </div>
    </f7-block>

    <f7-block-title style="text-align:center;color:white;padding-bottom:10%;">{{user.email}}</f7-block-title>
  </div>
    <f7-list>
      <f7-list-item link="/home/" title="Dashboard" panel-close>
        <f7-icon slot="media" icon="fas fa-clipboard-list fa-fw"></f7-icon>
      </f7-list-item>
      
      <f7-list-item link="/expense/" title="Expense" panel-close>
        <f7-icon slot="media" icon="fas fa-arrow-circle-right fa-fw"></f7-icon>
      </f7-list-item>
      
      <f7-list-item link="/income/" title="Income" panel-close>
        <f7-icon slot="media" icon="fas fa-arrow-circle-left fa-fw"></f7-icon>
      </f7-list-item>
      
      <f7-list-item link="/report/" title="Report" panel-close>
        <f7-icon slot="media" icon="fas fa-chart-bar fa-fw"></f7-icon>
      </f7-list-item>
      
      <f7-list-item link="/savingsTip/" title="Savings Tip" panel-close>
        <f7-icon slot="media" icon="fas fa-lightbulb fa-fw"></f7-icon>
      </f7-list-item>
      
      <f7-list-item link="/setting/" title="Settings" panel-close>
        <f7-icon slot="media" icon="fas fa-cog fa-fw"></f7-icon>
      </f7-list-item>

   <!--    <f7-list-item link="/color-themes/" title="Themes" panel-close>
        <f7-icon slot="media" icon="fas fa-cog fa-fw"></f7-icon>
      </f7-list-item> -->
<!-- 
      <f7-list-item @click="logout();" title="Logout" panel-close>
        <f7-icon slot="media" icon="fas fa-arrow-left fa-fw"></f7-icon>
      </f7-list-item> -->
    </f7-list>
 
  </f7-page>
</template>

<script>
  export default{
   data(){
      return{
        image:'',
        previewImage:null,
        user:'',
      }
    },
    created:function(){
      var $this = this;
      const app = $this.$f7;
      const router = $this.$f7router;


      const options ={
        method:'get',
        headers:{
          'Authorization':'Bearer '+window.localStorage.getItem('token')
        },
      };

      cordova.plugin.http.sendRequest('http://localhost:8000/api/user', options, function(response) {

        const data = JSON.parse(response.data)
        console.log('qwe123123123',data)
        $this.user = data.data;
        // $this.categoriess.filter($this.categories => {
        //  return $this.categories.id === foundId
        // })
        console.log('NANI',data.data)
        console.log('categories',$this.user);
        // console.log('catgeoriess',$this.categoriess)

        
      }, function(response) {
        console.log(response.error)

      });

    },
  }
</script>
    
  