<template>
	<f7-page class="setting" sliding color-theme="orange" theme-dark>
		<f7-navbar title="Report" back-link="Back"></f7-navbar>

 		<!-- <f7-block-title style="font-weight:700;font-size:15px;padding-top:10%;">Summary Report</f7-block-title> -->
        <div class="card data-table data-table-collapsible data-table-init">
          <div class="card-header" style="background-color:gray;">
            <div class="data-table-title">Report Year {{year}}</div>

            <f7-button sheet-open=".demo-sheet-pushsss" style="margin-right:-19px;margin-top:-5px;"> <f7-icon f7="smallcircle_fill_circle"></f7-icon></f7-button>

            <f7-sheet class="demo-sheet-pushsss" push>
              <f7-toolbar>
                <div class="left"></div>

                <div class="right">
                  <f7-link sheet-close>Close</f7-link>
                </div>

              </f7-toolbar>

              <p style="font-size:20px;margin-bottom:-50px;padding-left:5%;padding-bottom:5%;  ">Year : {{year}}</p>

              <f7-page-content>
                <!-- <f7-block> -->
                  <f7-list no-hairlines-md>
                    <f7-list-input
                    outline
                    label="Year"
                    floating-label
                    type="number"
                    placeholder="Eg:2020"
                    clear-button :value="year" @input="year = $event.target.value"
                    style="list-style-type: none" 
                    >
                  </f7-list-input>
                </f7-list>
                
                <f7-block style="width:60%;position:fixed;margin-left:22%;margin-top:0%;">
                  <f7-button large fill @click="search();">Search</f7-button>
                </f7-block>

              </f7-page-content>
             
            </f7-sheet>
          </div>
          <div class="card-content">
            <table>
              <thead>
                <tr>
                  <th class="label-cell">Total Expense (RM)</th>
                  <th class="label-cell">Total Income (RM)</th>
                  <th class="label-cell">Gap (RM)</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="numeric-cell">{{summary.expense}}</td>
                  <td class="numeric-cell">{{summary.income}}</td>
                  <td class="numeric-cell">{{summary.difference}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      
        <f7-block-title style="font-weight:700;font-size:15px;padding-top:10%;">Bar Chart</f7-block-title>
        <ReportBar />
        <br>
        <br>
        <ReportBar2 />
        <br>
        <br>
	</f7-page>
</template>

<script>
 	import ReportBar from "./chart-barreport";
  	import ReportBar2 from "./chart-barreports";
  	export default {
    components: {
        ReportBar,
        ReportBar2,
      },

    data() {
      return {
        summary:'',
        year:'',
      }
    },

    created: function(){
      var $this = this;

      const options ={
        method:'get',
        headers:{
          'Authorization':'Bearer '+window.localStorage.getItem('token')
        },
      };

      cordova.plugin.http.sendRequest('http://localhost:8000/api/totalexpense', options, function(response) {
        const data = JSON.parse(response.data)
        $this.summary = data;
        console.log('Summary:',$this.summary)
      },function(response) {
        console.log(response.error)
      });

    },
    methods: {
      search(){
          var $this = this;
          const app = $this.$f7;
          const router = $this.$f7router;

          const options = {
            method: 'get',
            serializer: 'JSON',
            headers: {
              'Authorization': 'Bearer '+ window.localStorage.getItem('token')
            },

          };

            cordova.plugin.http.sendRequest('http://localhost:8000/api/summaryreport?year='+$this.year, options, 
             function(response) {
              const data = JSON.parse(response.data)
              console.log('Year123:',data)
              $this.summary = data
              
            },function(response) {
              console.log(response.error)
            });
        
      }
    },
      
};

</script>