<template>
  <f7-page>
    <f7-navbar title="Savings Tip" back-link="Back" color-theme="orange"></f7-navbar>
    <f7-block-title style="font-weight:600;font-size:15px;color:black;">8 simple ways to save money</f7-block-title>

    <f7-swiper>
      <f7-swiper-slide>
          <div style="padding-top:30px;padding-bottom:25px;">
            <div>
              <img src="static/savings.png" style="width:-webkit-fill-available;">
            </div>

            <p style="padding-top:6%;float:right;line-height: 1.5;font-size:16px;">
              Sometimes the hardest thing about saving money is just getting started. This step-by-step guide for how to save money can help you develop a simple and realistic strategy, so you can save for all your short- and long-term savings goals.
            </p>
          </div>

          <hr class="my-4">

          <div style="padding-bottom:20px;">
            <div  style="padding-left:15px;padding-bottom:25px;">
              <div style="font-weight:600;font-size:15px;">1</div>
              <h2 style="padding-left:10%;font-size:16px;color:#00A0D2;padding-top:10px;">Record your expenses</h2>
            </div>
            <div>
              <p style="font-size:16px;">The first step to start saving money is to figure out how much you spend. Keep track of all your expenses—that means every coffee, household item and cash tip.</p>
              <p style="font-size:16px;">Once you have your data, organize the numbers by categories, such as gas, groceries and mortgage, and total each amount. Use your credit card and bank statements to make sure you’re accurate—and don’t forget any.</p>
              <p style="font-size:16px;"><b>Tip: </b> Look for a free spending tracker to help you get started. Choosing a digital program or app can help automate some of this work. Bank of America clients can use the Spending & Budgeting tool, which automatically categorizes your transactions for easier budgeting in the mobile app or online.</p>
            </div>
          </div>

          <hr class="my-4">

          <div style="padding-bottom:20px;">
            <div  style="padding-left:15px;padding-bottom:25px;">
              <div style="font-weight:600;font-size:15px;">2</div>
              <h2 style="padding-left:10%;font-size:16px;color:#00A0D2;padding-top:10px;">Budget for savings</h2>
            </div>
            <div>
              <p style="font-size:16px;">Once you have an idea of what you spend in a month, you can begin to organize your recorded expenses into a workable budget. Your budget should outline how your expenses measure up to your income—so you can plan your spending and limit overspending. Be sure to factor in expenses that occur regularly but not every month, such as car maintenance.</p>

              <p style="font-size:16px;"><b>Tip:</b>Include a savings category—aim to save 10 to 15 percent of your income.</p>
            </div>
          </div>

          <hr class="my-4">

          <div style="padding-bottom:20px;">
            <div  style="padding-left:15px;padding-bottom:25px;">
              <div style="font-weight:600;font-size:15px;">3</div>
              <h2 style="padding-left:10%;font-size:16px;color:#00A0D2;padding-top:10px;">Find ways you can cut your spending</h2>
            </div>
            <div>
              <p style="font-size:16px;">If your expenses are so high that you can’t save as much as you’d like, it might be time to cut back. Identify nonessentials that you can spend less on, such as entertainment and dining out. Look for ways to save on your fixed monthly expenses like television and your cell phone, too.</p>
              <p style="font-size:16px;">Here are some ideas for trimming everyday expenses:</p>
              <ul style="font-size:16px;">
                <li>Use resources such as community event listings to find free or low-cost events to reduce entertainment spending.</li>
                <li>Cancel subscriptions and memberships you don’t use—especially if they renew automatically.</li>
                <li>Commit to eating out only once a month and trying places that fall into the “cheap eats” category.</li>
                <li>Give yourself a “cooling off period”: When tempted by a nonessential purchase, wait a few days. You may be glad you passed—or ready to save up for it.</li>
              </ul>
            </div>
          </div>

          <hr class="my-4">

          <div style="padding-bottom:20px;">
            <div  style="padding-left:15px;padding-bottom:25px;">
              <div style="font-weight:600;font-size:15px;">4</div>
              <h2 style="padding-left:10%;font-size:16px;color:#00A0D2;padding-top:10px;">Set savings goals</h2>
            </div>
            <div>
              <p style="font-size:16px;">One of the best ways to save money is to set a goal. Start by thinking of what you might want to save for—perhaps you’re getting married, planning a vacation or saving for retirement. Then figure out how much money you’ll need and how long it might take you to save it.</p>
              <p style="font-size:16px;">Here are some examples of short- and long-term goals:</p>

              <div>
                <img src="/static/vacation.png" style="width:-webkit-fill-available;" >
                <div  style="padding-top:20px;">
                  <p style="font-size:16px;color:#00A0D2;">Short-term (1–3 years)</p>
                  <ul style="font-size:16px;">
                    <li>Emergency fund (3–9 months of living expenses, just in case) </li>
                    <li>Vacation</li>
                    <li>Down payment for a car</li>
                  </ul>
                </div>
              </div>
              <div  style="padding-top:25px;">
                <img src="/static/remodeling.png" style="width:411px;" >
                <div>
                  <p style="font-size:16px;color:#00A0D2;">Long-term (4+ years)</p>
                  <ul style="font-size:16px;">
                    <li>Down payment on a home or a remodeling project</li>
                    <li>Your child’s education</li>
                    <li>Retirement</li>
                  </ul>
                </div>
              </div>

              <p style="font-size:16px;">If you’re saving for retirement or your child’s education, consider putting that money into an investment account such as an IRA or 529 plan. While investments come with risks and can lose money, they also create the opportunity for growth when the market grows, and could be appropriate if you plan for an event far in advance. See step No. 6 for more details.</p>

              <p style="font-size:16px;"><b>Tip:</b> Set a small, achievable short-term goal for something fun and big enough that you aren’t likely to have the cash on hand to pay for it, such as a new smartphone or holiday gifts. Reaching smaller goals—and enjoying the fun reward you’ve saved for—can give you a psychological boost that makes the payoff of saving more immediate and reinforces the habit.</p>
            </div>
          </div>

          <hr class="my-4">

          <div style="padding-bottom:20px;">
            <div  style="padding-left:15px;padding-bottom:25px;">
              <div style="font-weight:600;font-size:15px;">5</div>
              <h2 style="padding-left:10%;font-size:16px;color:#00A0D2;padding-top:10px;">Decide on your priorities</h2>
            </div>
            <div>
              <p style="font-size:16px;">After your expenses and income, your goals are likely to have the biggest impact on how you allocate your savings. Be sure to remember long-term goals—it’s important that planning for retirement doesn’t take a back seat to shorter-term needs.</p>

              <p style="font-size:16px;"><b>Tip:</b> Learn how to prioritize your savings goals so you have a clear idea of where to start saving. For example, if you know you’re going to need to replace your car in the near future, you could start putting money away for one now.</p>
            </div>
          </div>

          <hr class="my-4">

          <div style="padding-bottom:20px;">
            <div  style="padding-left:15px;padding-bottom:25px;">
              <div style="font-weight:600;font-size:15px;">6</div>
              <h2 style="padding-left:10%;font-size:16px;color:#00A0D2;padding-top:10px;">Pick the right tools</h2>
            </div>
            <div>
              <p style="font-size:16px;">If you’re saving for short-term goals, consider using these FDIC-insured deposit accounts:</p>
              <ul style="font-size:16px;">
                <li>Savings account</li>
                <li>Certificate of deposit (CD), which locks in your money for a fixed period of time at a rate that is typically higher than savings accounts</li>
              </ul>
              <p style="font-size:16px;">For long-term goals consider:</p>
              <ul style="font-size:16px;">
                <li>FDIC-insured individual retirement accounts (IRAs), which are tax-efficient savings accounts</li>
                <li>Securities, such as stocks or mutual funds. These investment products are available through investment accounts with a broker-dealer. Remember that securities are not insured by the FDIC, are not deposits or other obligations of a bank and are not guaranteed by a bank. They are subject to investment risks, including the possible loss of your principal.</li>
              </ul>

              <p style="font-size:16px;"><b>Tip:</b> You don’t have to pick just one account. Look carefully at all of your options and consider things like balance minimums, fees and interest rates so you can choose the mix that will help you best save for your goals.</p>
            </div>
          </div>

          <hr class="my-4">

          <div style="padding-bottom:20px;">
            <div  style="padding-left:15px;padding-bottom:25px;">
              <div style="font-weight:600;font-size:15px;">7</div>
              <h2 style="padding-left:10%;font-size:16px;color:#00A0D2;padding-top:10px;">Make saving automatic</h2>
            </div>
            <div>
              <p style="font-size:16px;">Almost all banks offer automated transfers between your checking and savings accounts. You can choose when, how much and where to transfer money or even split your direct deposit so a portion of every paycheck goes directly into your savings account.</p>

              <p style="font-size:16px;"><b>Tip:</b> Splitting your direct deposit and setting up automated transfers are simple ways to save money since you don’t have to think about it, and it generally reduces the temptation to spend the money instead. With Mobile & Online Banking, Bank of America clients can easily set up automatic transfers between accounts.</p>
            </div>
          </div>

          <hr class="my-4">

          <div style="padding-bottom:20px;">
            <div  style="padding-left:15px;padding-bottom:25px;">
              <div style="font-weight:600;font-size:15px;">8</div>
              <h2 style="padding-left:10%;font-size:16px;color:#00A0D2;padding-top:10px;">Watch your savings grow</h2>
            </div>
            <div>
              <p style="font-size:16px;">Review your budget and check your progress every month. Not only will this help you stick to your personal savings plan, but it also helps you identify and fix problems quickly. Understanding how to save money may even inspire you to find more ways to save and hit your goals faster.</p>
            </div>
          </div>

      </f7-swiper-slide>

      <f7-swiper-slide>
            <h2 >How to Create a Budget [Best Recommendation Plan for Savings]</h2>
            

            <div style="padding-bottom:20px;">
              <div  style="padding-left:15px;padding-bottom:25px;padding-top:35px;">
                <div style="font-weight:600;font-size:15px;">1</div>
                <h2 style="padding-left:10%;font-size:16px;color:#00A0D2;padding-top:10px;">Creating a budget</h2>
              </div>
              <div>
                <ol style="font-size:16px;">
                  <li>How to make a budget in 5 steps</li>
                  <li>Try a simple budgeting plan</li>
                  <li>Allow up to 50% of your income for needs</li>
                  <li>Leave 30% of your income for wants</li>
                  <li>Commit 20% of your income to savings and debt repayment</li>
                </ol>
              </div>
            </div>

            <hr class="my-4">

            <div style="padding-bottom:20px;">
              <div  style="padding-left:15px;padding-bottom:25px;">
                <div cstyle="font-weight:600;font-size:15px;">2</div>
                <h2 style="padding-left:10%;font-size:16px;color:#00A0D2;padding-top:10px;">How to make a budget in 5 steps</h2>
              </div>
              <div>
                <p style="font-size:16px;"><b>1. Figure out your after-tax income.</b> If you get a regular paycheck, the amount you receive is probably it, but if you have automatic deductions for a 401(k), savings, and health and life insurance, add those back in to give yourself a true picture of your savings and expenditures. If you have other types of income — perhaps you make money from side gigs — subtract anything that reduces it, such as taxes and business expenses.</p>

                <p style="font-size:16px;"><b>2. Choose a budgeting plan.</b> Any budget must cover all of your needs, some of your wants and — this is key — savings for emergencies and the future. Budgeting plan examples include the envelope system and the zero-based budget.</p>

                <p style="font-size:16px;"><b>3.Track your progress. </b> Record your spending or use online budgeting and savings tools.</p>
                
                <p style="font-size:16px;"><b>4.Automate your savings.</b> Automate as much as possible so the money you’ve allocated for a specific purpose gets there with minimal effort on your part. An accountability partner or online support group can help, so that you’re held accountable for choices that blow the budget.</p>

                <p style="font-size:16px;"><b>5.Revisit your budget as needed.</b> Your income, expenses and priorities will change over time. Adjust your budget accordingly, but always have one.</p>
                
              </div>
            </div>

            <hr class="my-4">

            <div style="padding-bottom:20px;">
              <div  style="padding-left:15px;padding-bottom:25px;">
                <div style="font-weight:600;font-size:15px;">3</div>
                <h2 style="padding-left:10%;font-size:16px;color:#00A0D2;padding-top:10px;">Try a simple budgeting plan</h2>
              </div>

              <div>
                <p style="font-size:16px;">We recommend the popular 50/30/20 budget. In it, you spend roughly 50% of your after-tax dollars on necessities, no more than 30% on wants, and at least 20% on savings and debt repayment.</p>

                <p style="font-size:16px;">We like the simplicity of this plan. Over the long term, someone who follows these guidelines will have manageable debt, room to indulge occasionally, and savings to pay irregular or unexpected expenses and retire comfortably.</p>

                <p style="font-size:16px;font-weight:600;"><b>Allow up to 50% of your income for needs </b> </p>
                
                <p style="font-size:16px;">Your needs - about 50% of your after-tax income - should include:</p>
                <p>
                  <ul style="font-size:16px;">
                    <li>Groceries.</li>
                    <li>Housing.</li>
                    <li>Basic utilities.</li>
                    <li>Transportation.</li>
                    <li>Insurance.</li>
                    <li>Minimum loan payments. Anything beyond the minimum goes into the savings and debt repayment category.</li>
                    <li>Child care or other expenses you need so you can work.</li>
                  </ul>
                </p>
                <p style="font-size:16px;">If your absolute essentials overshoot the 50% mark, you may need to dip into the “wants” portion of your budget for a while. It’s not the end of the world, but you’ll have to adjust your spending.Even if your necessities fall under the 50% cap, revisiting these fixed expenses occasionally is smart. You may find a better cell phone plan, an opportunity to refinance your mortgage or less expensive car insurance. That leaves you more to work with elsewhere.</p>

                <p style="font-size:16px;font-weight:600;"><b>Leave 30% of your income for wants </b> </p>

                <p style="font-size:16px;">Separating wants from needs can be difficult. In general, though, needs are essential for you to live and work. Typical wants include dinners out, gifts, travel and entertainment. It’s not always easy to decide. Is a gym membership a want or a need? How about organic groceries? Decisions vary from person to person. If you’re eager to get out of debt as fast as you can, you may decide your wants can wait until you have some savings or your debts are under control. But your budget shouldn’t be so austere that you can never buy anything just for fun.</p>

                <p style="font-size:16px;">Every budget needs both wiggle room — maybe you forgot about an expense or one was bigger than you anticipated — and some money you’re entitled to spend as you wish. Your budget is a tool to help you, not a straitjacket to keep you from enjoying life, ever. If there’s no money for fun, you’ll be less likely to stick with your budget — and a good budget is one you’ll stick with.</p>

                <p style="font-size:16px;font-weight:600;"><b>Commit 20% of your income to savings and debt repayment </b> </p>

                <p style="font-size:16px;">Use 20% of your after-tax income to put something away for the unexpected, save for the future and pay off debt. Make sure you think of the bigger financial picture; that may mean two-stepping between savings and debt repayment to accomplish your most pressing goals.</p>
              </div>
            </div>

      </f7-swiper-slide>
    </f7-swiper>

  </f7-page>
</template>
<script>
export default {
  components: {}
};
</script>