<template>
	<f7-page class="setting" sliding color-theme="orange" ptr @ptr:refresh="loadMore">
		<f7-navbar title="Setting" back-link="Back"></f7-navbar>

		<f7-block style="background-color:lightgray;height:40%;margin-top:0%;">
			<!-- <div v-if="merchant.image_url">
				<img :src="merchant.image_url" alt="merchant_image" width="128"/>
			</div> -->
			<div style="padding-top:5%;">
				<div v-if="!user.image">
				<img src="/static/default.jpg" style="height:125px;width:125px;border-radius:60px;margin:auto;display:block;">
				</div>
				<div v-else>
					<img :src="'http://localhost:8000/uploads/avatars/'+user.image" style="height:125px;width:125px;border-radius:60px;margin:auto;display:block;" />
				</div>
			
					<p style="text-align:center;font-size:15px;font-weight:500;color:white;">{{user.name}}</p>
					<p style="text-align:center;font-size:15px;font-weight:400;color:white;">{{user.email}}</p>	
				
				<!-- <input type="file" name="avatar" style="padding-left:25%;padding-top:20px;padding-bottom:20px;"> -->
			
				<!-- <f7-button large small outline round type="submit" style="width:20%;margin-left:150px;">Upload</f7-button> -->
			</div>
		</f7-block>


			<f7-list>
				<f7-list-item link="#" @click="changename();" chevron>Change Username</f7-list-item>
				<f7-list-item link="#" @click="changepassword();" chevron>Change Password</f7-list-item>
				<f7-list-item link="#" @click="logout();" style="color:red;" chevron>Log Out</f7-list-item>
			</f7-list>
			<!-- <f7-list-item title="Log Out"  @click.native="logout"></f7-list-item> -->

	</f7-page>
</template>

<script>
	export default{
		data(){
			return{
				image:'',
				previewImage:null,
				user:'',
			}
		},
		created:function(){
			var $this = this;
			const app = $this.$f7;
			const router = $this.$f7router;


			const options ={
				method:'get',
				headers:{
					'Authorization':'Bearer '+window.localStorage.getItem('token')
				},
			};

			cordova.plugin.http.sendRequest('http://localhost:8000/api/user', options, function(response) {

				const data = JSON.parse(response.data)
				console.log('qwe',data)
				$this.user = data.data;
				// $this.categoriess.filter($this.categories => {
				// 	return $this.categories.id === foundId
				// })
				console.log('NANI',data.data)
				console.log('categories',$this.user);
				// console.log('catgeoriess',$this.categoriess)

				
			}, function(response) {
				console.log(response.error)

			});

		},
		watch: {
			
		},
		methods:{
			
			changepassword(){
				var $this = this;
				const app = $this.$f7;
				const router = $this.$f7router;
				
				router.navigate('/changepassword');
			},
			changename(){
				var $this = this;
				const app = $this.$f7;
				const router = $this.$f7router;
				
				router.navigate('/changeusername');
			},
			logout(){
				var $this = this;
				const app = $this.$f7;
				const router = $this.$f7router;

				const options = {
					method: 'get',
					serializer: 'JSON',
					headers: {
						'Authorization': 'Bearer '+ window.localStorage.removeItem('token')
					},	
				};
				cordova.plugin.http.sendRequest('http://wecafe.uat.wepost.com.my/api/auth/logout', options, 
					function(response) {
						app.dialog.alert(`Login out successful`,'Success' , () => {
							router.navigate('/login');
						});
					}, function(response) {
						app.dialog.alert(`Please try again`)
					});
			},
			loadMore(done) {
				var $this = this;
				const app = $this.$f7;
				const router = $this.$f7router;

				setTimeout(() => {
					const options ={
				method:'get',
				headers:{
					'Authorization':'Bearer '+window.localStorage.getItem('token')
				},
			};

				cordova.plugin.http.sendRequest('http://localhost:8000/api/user', options, function(response) {

					const data = JSON.parse(response.data)
					console.log('qwe',data)
					$this.user = data.data;
					// $this.categoriess.filter($this.categories => {
					// 	return $this.categories.id === foundId
					// })
					console.log('NANI',data.data)
					console.log('categories',$this.user);
					// console.log('catgeoriess',$this.categoriess)

					
				}, function(response) {
					console.log(response.error)

				});

				done();
				}, 1000);

			},
			
		}
	}
</script>
		
	