<template>
	<!-- class="bg" -->
	<f7-page class="bg">
		
		<f7-login-screen-title style="padding-top:60%;color:white;"> 
			<div class="img-container">
				<img src="static/savingsIcon.png" style="width:64px;height:64px;">
			</div>
			Smart Expense
		</f7-login-screen-title>

		<f7-button raised @click="login();" style="background-color:white;color:#43CDF2;margin-top:65%;">Get Started</f7-button>

	</f7-page>
</div>
</template>

<style type="text/css" lang="scss" scoped>

.bg.page {
  background-color: #43CDF2;
}

.img-container {
        text-align: center;
}

</style>

<script>
	export default {
		data() {
			return {
				
			}
		},
		methods:{
			login(){
				const $this = this;
				const app = $this.$f7;
				const router = $this.$f7router;

				router.navigate('/login');
			},
			
		}

	};
</script>